html{
	font:lato;
	font-size:10px;
}
div{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:6.5%;
	border: solid #f8f32b 1px;
	background-color:#f8f32b;
}
#menu{
	position:absolute;
	top:8px;
	left:2%;
	font-size:3rem;
	color:white;
}
#logo{
	position:relative;
	top:39px;
	left:55%;
	width:30rem;
	height:13rem;
}
#rijles{
	position:absolute;
	top:181px;
	left:0%;
	width:100%;
	height:35rem;
}
#car{
	position:absolute;
	top:550px;
	left:5.21%;
	font-size:4rem;
	color:grey;
}
#lessen{
	position:absolute;
	top:525px;
	left:14.3%;
	font-size:3rem;
}
#line1{
	position:absolute;
	top:600px;
	left:5%;
	width:80.7%;
	height:0px;
	border: solid grey 1px;
	color:grey;
}
#tekst1{
	position:absolute;
	top:620px;
	left:6.5%;
	right:9.12%;
	font-size:2rem;
}
#proefles{
	background-color:#F5D431;
	border-color:#F5D431; 
	position:absolute;
	top:975px;
	left:10.42%;
	width:72%;
	height:75px;
	font-size:4rem;
}
#locaties{
	position:absolute;
	top:1050px;
	left:14.32%;
	font-size:3rem;
}
#map{
	position:absolute;
	top:1075px;
	left:5.2%;
	font-size:4rem;
	color:grey;
}
#line2{
	position:absolute;
	top:1120px;
	left:5%;
	width:80.7%;
	height:0px;
	border: solid grey 1px;
	color:grey;
}
#tekst2{
	position:absolute;
	top:1140px;
	left:5.6%;
	right:9.12%;
	font-size:2rem;
}
#cap{
	position:absolute;
	top:1450px;
	left:5.2%;
	font-size:4rem;
	color:grey;
}
#rijlessen{
	position:absolute;
	top:1425px;
	left:14.32%;
	font-size:3rem;
}
#line3{
	position:absolute;
	top:1489px;
	left:5%;
	width:80.7%;
	height:0px;
	border: solid grey 1px;
	color:grey;
}
#tekst3{
	position:absolute;
	top:1515px;
	left:5.6%;
	right:9.12%;
	font-size:2rem;
}
@media(min-width:769px){
	#logo{
		position:relative;
		top:38px;
		left:60%;
		width:30rem;
		height:13rem;
	}
	#rijles{
		position:absolute;
		top:181px;
		left:15%;
		width:70%;
		height:37rem;
		border: solid #f8f32b 5px;
	}
	#car{
		position:absolute;
		top:570px;
		left:5.21%;
		font-size:4rem;
		color:grey;
	}
	#lessen{
		position:absolute;
		top:545px;
		left:14.3%;
		font-size:3rem;
	}
	#line1{
		position:absolute;
		top:620px;
		left:5%;
		width:85.7%;
		height:0px;
		border: solid grey 1px;
		color:grey;
	}
	#tekst1{
		position:absolute;
		top:640px;
		left:6.5%;
		right:9.12%;
		font-size:2rem;
	}
	#proefles{
		background-color:#F5D431;
		border-color:#F5D431; 
		position:absolute;
		top:905px;
		left:10.42%;
		width:72%;
		height:75px;
		font-size:4rem;
	}
	#locaties{
		position:absolute;
		top:980px;
		left:14.32%;
		font-size:3rem;
	}
	#map{
		position:absolute;
		top:1005px;
		left:5.2%;
		font-size:4rem;
		color:grey;
	}
	#line2{
		position:absolute;
		top:1050px;
		left:5%;
		width:85.7%;
		height:0px;
		border: solid grey 1px;
		color:grey;
	}
	#tekst2{
		position:absolute;
		top:1070px;
		left:5.6%;
		right:9.12%;
		font-size:2rem;
	}
	#cap{
		position:absolute;
		top:1470px;
		left:5.2%;
		font-size:4rem;
		color:grey;
	}
	#rijlessen{
		position:absolute;
		top:1445px;
		left:14.32%;
		font-size:3rem;
	}
	#line3{
		position:absolute;
		top:1509px;
		left:5%;
		width:85.7%;
		height:0px;
		border: solid grey 1px;
		color:grey;
	}
	#tekst3{
		position:absolute;
		top:1535px;
		left:5.6%;
		right:9.12%;
		font-size:2rem;
	}
}